@import "tailwindcss";

@theme {
  --color-primary: #8b9968;
  --color-secondary: #2e3f25;
  --color-background: #F5F5F5;
}

@font-face {
  font-family: monbaiti;
  src: url("../public/fonts/monbaiti.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f5f5f5f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


body {
  margin: 0 auto;
  display: flex;
  color: var(--color-secondary);
  /* max-width: full; */
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



p,
div,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: monbaiti;
  letter-spacing: 0.01em;
  line-height: 1.1;
}

strong {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

input:focus {
  outline: auto;
}